/*Universal Styles*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

a
{
  color: seashell;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  z-index: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

/*Main Section*/
.main {
  margin: auto;
  padding-top: 69px;
  width: 1200px;
  opacity: 0.9;
}


/*Mission*/
#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

#mission .content {
  background-color: black;
  margin: auto;
  width: 100%
}
