/*Universal Styles*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

a
{
  color: seashell;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  z-index: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

/*Main Section*/
.main {
  margin: auto;
  padding-top: 69px;
  width: 1200px;
  opacity: 0.9;
}


/*Mission*/
#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

#mission .content {
  background-color: black;
  margin: auto;
  width: 100%
}

/*Store*/
#store {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.item {
  margin: 5px;
}

.item img {
  display: block;
  height: 200px;
  margin: 10px;
}

.item span {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

/*Locations*/
.flex-container.locations {
  padding-top: 5px;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .flex-container {
width: 1100px;
margin: auto;
}

.location {
  background-color: black;
  margin: 5px 20px;
  padding: 10px;
  opacity: 1.0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
}

/*contact*/

#contact {
  height: 200px;
}

/*footer*/

#copyright {
  text-align: left;
  padding-left: 20px;
}
